<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th> <h2>Welcome to StriveCraft, <%=customerName%></h2></th>
        </tr>
        <tr>
            <td>
                <p>Hi <%=customerName%>,</p><br>
                <p><img src="https://images.pexels.com/photos/5668859/pexels-photo-5668859.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" width = 600px></p>
                <p>
                    Welcome to StriveCraft! We are thrilled to have you join our specialist outsourcing platform, where we connect talented specialists with businesses and individuals in need of expertise.<br><br>

                    At StriveCraft, our mission is to empower specialists to showcase their skills and find rewarding opportunities that match their expertise. Whether you're a seasoned professional or just starting your career journey, we're here to support you every step of the way.<br><br>

                    We also ease the hussle that businesses and individuals go through to hire specialists.<br><br>
                    
                    As a member of our platform, you'll gain access to a diverse range of projects and opportunities from various industries. From cleaning to graphic design, landscaping to catering, there's something for everyone. We believe in fostering a collaborative community where you can network with other specialists, share insights, and grow both personally and professionally.<br><br>
                    
                    To get started, log in to your account using the credentials you provided during registration. Explore the platform, update your profile, and start browsing available projects. Don't hesitate to reach out to our support team if you have any questions or need assistance along the way.<br><br>
                    
                    Once again, welcome to StriveCraft! We're excited to embark on this journey with you and help you succeed in your specialist career.
                </p>
            </td>
        </tr>
    </table>
</body>
</html>