<div class="listingsContainer">
    <app-nav-bar></app-nav-bar>    

    <div class="filters">
        <h4>Filter By</h4>
        <div class="filterBy">
            <span>Location<i class="fa-solid fa-angle-down"></i></span>
            <span>Price<i class="fa-solid fa-angle-down"></i></span>
            <span>Ratings<i class="fa-solid fa-angle-down"></i></span>
        </div>
    </div>
    <div class="listItem">
        <div class="item">
            <div class="portfolio">
                <img src=".././../../assets/1.png" alt="">
            </div>
            <div class="desc">
                <h3>Fork and Knife Catering Services</h3>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <span>5.0(1.7K)</span>
                </div>
                <p>25 Years in Business</p>
                <button routerLink="/listing-profile">View Listing</button>
            </div>   
        </div>     
        <div class="item">
            <div class="portfolio">
                <img src=".././../../assets/Photography img.jpg" alt="">
            </div>
            <div class="desc">
                <h3>Fork and Knife Catering Services</h3>
                <div class="rating">
                    <i class="fa-solid fa-star"></i>
                    <span>5.0(1.7K)</span>
                </div>
                <p>25 Years in Business</p>
                <button routerLink="/listing-profile">View Listing</button>
            </div>   
        </div>  
    </div>
    <app-footer></app-footer>
</div>
