<div class="landingContainer">
    <div class="hero">
        <app-nav-bar></app-nav-bar>

        <div class="aboutUs">

                <div class="aboutUsDesc">
                    <div class="mobileImg">

                    </div>
                    <p id="aboutTitle">You can have the best. Right now<br> Forget the old rules. </p>
                    <p id="aboutTitleMobile">You can have the best, <br> Right now</p>

                    <!-- <p>Right now</p> -->
                            <p id="aboutUsText">With a team of experts dedicated to your success, we're committed to <br> delivering unparalleled results that propel your business forward. <br> Experience the difference  with StriveCraft <br> – where every interaction is a step towards success."</p>
                            <p id="aboutUsTextMobile">With a team of experts dedicated to your success. – where every interaction is a step towards success."</p>

                            <button (click)="openRegisterModal()">HIRE TOP TALENT</button>
                </div>                
        </div>


    </div>  
    <div id="specialistTitle">
        <p>Specialist Services</p>
    </div>
    <a routerLink="/listings">View All <i class="fa-solid fa-arrow-up-right-from-square"></i></a>   
    <div class="services"> 
        <div class="serviceCards">
            <input type="radio" name="card" id="c1" checked>
            <label for="c1" class="card">
                <div class="row">
                    <div class="desc" id="events">
                        <div class="serviceName">
                            <i class="fa-solid fa-calendar"></i>
                            <p>Weddings and Events</p> 
                        </div>
                        <button>Learn More...</button>
                    </div>             
                </div>
            </label>
            <input type="radio" name="card" id="c2" checked>
            <label for="c2" class="card">
                <div class="row">
                    <div class="desc" id="photography">
                        <div class="serviceName">
                            <i class="fa-solid fa-camera-retro"></i>
                            <p>Professional Photography</p>  
                        </div>
                        <button>Learn More...</button>

                    </div>
                </div>
            </label>
            <input type="radio" name="card" id="c3"checked >
            <label for="c3" class="card">
                <div class="row">
                    <div class="desc" id="catering">
                        <div class="serviceName">
                            <i class="fa-solid fa-wine-glass-empty"></i>
                            <p>Catering  Services</p>
                        </div>
                        <button>Learn More...</button>
                    </div>
                </div>
            </label>
            <input type="radio" name="card" id="c4" checked>
            <label for="c4" class="card">
                <div class="row">
                    <div class="desc" id="design">  
                        <div class="serviceName">
                            <i class="fa-regular fa-object-group"></i>
                            <p>Graphics  Design</p>
                        </div>      
                        <button>Learn More...</button>
                   </div>
                </div>
            </label>
            <input type="radio" name="card" id="c5" checked>
            <label for="c5" class="card">
                <div class="row">
                    <div class="desc" id="cleaning">
                        <div class="serviceName">
                            <i class="fa-solid fa-broom"></i>
                            <p>Professional  Cleaning</p>
                        </div>
                        <button>Learn More...</button>
                    </div>
                </div>
            </label>
            <input type="radio" name="card" id="c6" checked>
            <label for="c6" class="card">
                <div class="row">
                    <div class="desc" id="landscaping">
                        <div class="serviceName">
                            <i class="fa-solid fa-scissors"></i>
                            <p>Landscaping</p>   
                        </div>          
                        <button>Learn More...</button>  
                    </div>
                </div>
            </label>
        </div>
    </div>
    <div class="getStarted">
        <h3>Ready To Get Started? </h3>
        <p>Hire faster with the country’s  highest rated <br> professionals</p>
        <button >Join StriveCraft</button>
    </div>

</div>
<app-footer></app-footer>

<!-- <dialog type="modal" id="regDialog" class="registerDrawer" #regDialog>
    <app-register-form></app-register-form>
</dialog> -->
<dialog class="roleModal" type ="modal" #rolePrompt>
    <h2>Choose Your Role</h2>
    <div class="roleButtons">
        <button (click)="defineSpecialist()" id="specialistBtn">Specialist</button>
        <button (click)="defineClient()" id="clientBtn">Client</button>
    </div>
</dialog>

