<app-nav-bar></app-nav-bar>
<div class="resetContainer">
    <div class="resetDiv">
      <!-- Reset password starts here -->
      <form (ngSubmit)="resetPassword(resetForm.value)" #resetForm="ngForm">
        <h2>Password Reset</h2>
        <div *ngIf="showSuccessMsg" class="successMsg">{{successMsg}}</div>
        <div>
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" ngModel required />

          <label for="phoneNumber">Email:</label>
          <input type="phoneNumber" name="phoneNumber" id="phoneNumber" ngModel required />
       
          <label for="newPassword">New Password:</label>
          <input type="password" name="newPassword" id="newPassword" ngModel required />
       
          <button type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  </div>

